services:
  redis:
    image: redis:8.2.1
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  postgres:
    image: postgres:17.6
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/db:/var/lib/postgresql/data
    env_file:
      - ./env/.env.postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  emqx:
    image: emqx/emqx:5.8.8
    container_name: emqx
    restart: always
    depends_on:
      - redis
    ports:
      - "1883:1883"
      - "18083:18083"
    volumes:
      - ./data/emqx/data:/opt/emqx/data
      - ./data/emqx/data:/opt/emqx/log
    env_file:
      - ./env/.env.emqx

  clickhouse:
    image: clickhouse:25.7
    container_name: clickhouse
    restart: always
    ports:
      - 8123:8123
      - 9000:9000
      - 9009:9009
    volumes:
      - ./data/clickhouse/data:/var/lib/clickhouse
    env_file:
      - ./env/.env.clickhouse
    healthcheck:
      test: ["CMD-SHELL", "wget --spider --quiet http://clickhouse:8123 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  backend:
    image: w7a8n1y4a/pepeunit-backend:0.9.0
    container_name: backend
    restart: always
    depends_on:
      - redis
      - postgres
      - clickhouse
      - emqx
    ports:
      - "5291:5000"
    volumes:
      - ./data/backend/repo_cache:/app/repo_cache
    env_file:
      - ./env/.env.backend

  datapipe:
    image: w7a8n1y4a/pepeunit-data-pipe:0.8.0
    container_name: datapipe
    restart: always
    depends_on:
      - redis
      - postgres
      - clickhouse
      - emqx
      - backend
    env_file:
      - ./env/.env.backend_data_pipe

  frontend:
    image: w7a8n1y4a/pepeunit-frontend:0.9.0
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5292:80"
    env_file:
      - ./env/.env.frontend

  nginx:
    image: nginx:1.29.1
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  prometheus:
    image: prom/prometheus:v3.5.0
    container_name: prometheus
    restart: always
    depends_on:
      - backend
    ports:
      - 9090:9090
    volumes:
      - ./data/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:12.1.1
    container_name: grafana
    restart: always
    depends_on:
      - backend
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - ./data/grafana/provisioning:/etc/grafana/provisioning
      - ./data/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./data/grafana/data:/var/lib/grafana
    env_file:
      - ./env/.env.grafana

  logporter:
    image: lifailon/logporter:latest
    container_name: logporter
    restart: always
    ports:
      - "9333:9333"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  loki:
    image: grafana/loki:3.5.5
    container_name: loki
    restart: always
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./data/loki/local-config.yaml:/etc/loki/local-config.yaml:ro

  promtail:
    image: grafana/promtail:3.5
    container_name: promtail
    restart: always
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/promtail:/etc/promtail
    command: -config.file=/etc/promtail/config.yml
