version: '3.8'

services:
  redis:
    image: redis:7.4.2
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  postgres:
    image: postgres:17.2
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/db:/var/lib/postgresql/data
    env_file:
      - ./env/.env.postgres

  emqx:
    image: emqx/emqx:5.8.4
    container_name: emqx
    restart: always
    depends_on:
      - redis
    ports:
      - "1883:1883"
      - "18083:18083"
    volumes:
      - ./data/emqx/data:/opt/emqx/data
      - ./data/emqx/data:/opt/emqx/log
    env_file:
      - ./env/.env.emqx

  clickhouse:
    image: clickhouse:25.3.2
    container_name: clickhouse
    restart: always
    ports:
      - 8123:8123
      - 9000:9000
      - 9009:9009
    volumes:
      - ./data/clickhouse/data:/var/lib/clickhouse
    env_file:
      - ./env/.env.clickhouse

  backend:
    image: w7a8n1y4a/pepeunit-backend:0.7.0
    container_name: backend
    restart: always
    depends_on:
      - redis
      - postgres
      - clickhouse
      - emqx
    ports:
      - "5291:5000"
    volumes:
      - ./data/backend/repo_cache:/app/repo_cache
    env_file:
      - ./env/.env.backend

  datapipe:
    image: w7a8n1y4a/pepeunit-data-pipe:0.7.0
    container_name: backend
    restart: always
    depends_on:
      - redis
      - postgres
      - clickhouse
      - emqx
      - backend
    env_file:
      - ./env/.env.backend_data_pipe

  frontend:
    image: w7a8n1y4a/pepeunit-frontend:0.7.0
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5292:80"
    env_file:
      - ./env/.env.frontend

  nginx:
    image: nginx:1.27.3
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  prometheus:
    image: prom/prometheus:v2.53.4
    container_name: prometheus
    restart: always
    depends_on:
      - backend
    ports:
      - 9090:9090
    volumes:
      - ./data/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    restart: always
    depends_on:
      - backend
      - prometheus
    ports:
      - 3000:3000
    volumes:
      - ./data/grafana/provisioning:/etc/grafana/provisioning
    env_file:
      - ./env/.env.grafana
