version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    env_file:
      - .env.postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres/db:/var/lib/postgresql/data

  emqx:
    image: emqx/emqx:latest
    container_name: emqx
    restart: always
    depends_on:
      - redis
    ports:
      - "1883:1883"
      - "8083:8083"
      - "8084:8084"
      - "8883:8883"
      - "18083:18083"
    volumes:
      - ./data/emqx/data:/opt/emqx/data
      - ./data/emqx/data:/opt/emqx/log
    env_file:
      - .env.emqx
    user: "1000:1000"

  backend:
    image: w7a8n1y4a/pepeunit-backend:0.1.0
    container_name: backend
    restart: always
    depends_on:
      - redis
      - postgres
      - emqx
    ports:
      - "5291:5000"
    volumes:
      - ./data/backend/repo_cache:/app/repo_cache
    env_file:
      - .env.backend

  frontend:
    image: w7a8n1y4a/pepeunit-frontend:0.1.0
    container_name: frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5292:80"
    env_file:
      - .env.frontend

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
